#top
{
height:100px ;
background-color: #3c5a99; 
color: white; 
padding-left: 4px;
}
.pass input{
    color:black;
}


.center
{   float: left;
    background-color: #2f3742; 
    width: 48%;
    margin: auto;
    margin-top: 5.7%;
    margin-left: 2%;
    text-align: center;
    border-radius: 2%;
}
#text
{
    height: 32px;
    width: 80%;
    border-radius: 4px;
    margin-bottom: 12px;
    border: solid 1px #ccc;
    
}
#subject{
    width: 80%;
    background-color: white;
    border-radius: 4px;
    height: 60px;

}
#button
{
    margin-top: 1.2%;
    width: 81%;
    height: 40px;
    border:none ;
    font-size: 105%;
    font-weight: bold;
    border-radius: 4px;
    background-color: #3c5a99;
    color: white;
}
#button:hover{
    background-color: rgb(38, 90, 158);
}
h3{
    margin-top: 8px;
    color: rgb(209, 211, 214);
    font-size: 24px;
}

#map{
     float: right;
    background-color: #2f3742; 
    height: 450px;
    width: 45%;
    margin-top: 5.7%;
    margin-right: 2%;
    text-align: center;
    border-color: #2f3742;
    border-radius: 2%;

}
#logo{
    padding-left: 2.5%;
    float: left;
    width: 36px;
    height: 36px;
}